<div class="wrapper">
  <div class="header-calendar-container">
    <!-- Left Calendar (Previous Month) -->
    <div class="calendar-container mobile-calendar" [ngClass]="{ 'hidden': isMobile }">
      <header>
        <p class="current-date">{{ previousMonth + 1 }} / {{ previousYear }}</p>
      </header>
      <div class="calendar">
        <ul class="weeks">
          <li *ngFor="let day of weekDays">{{ day }}</li>
        </ul>
        <ul class="days">
          <li *ngFor="let day of daysInPreviousMonth" 
              [ngClass]="{
                'inactive': day === null, 
                'today': day !== null && isToday(day, previousMonth, previousYear), 
                'highlight': day !== null && isWorkingDay(day, previousMonth, previousYear) 
              }">
            {{ day }}
          </li>
        </ul>
      </div>
    </div>

    <!-- Right Calendar (Current Month) -->
    <div class="calendar-container">
      <header>
        <p class="current-date">{{ currentMonth + 1 }} / {{ currentYear }}</p>
        <div class="icons">
          <span id="prev" class="material-symbols-rounded" (click)="changeMonth(-1)">&lt;</span>
          <span id="next" class="material-symbols-rounded" (click)="changeMonth(1)">&gt;</span>
        </div>
      </header>
      <div class="calendar">
        <ul class="weeks">
          <li *ngFor="let day of weekDays">{{ day }}</li>
        </ul>
        <ul class="days">
          <li *ngFor="let day of daysInCurrentMonth" 
              [ngClass]="{
                'inactive': day === null, 
                'today': day !== null && isToday(day, currentMonth, currentYear), 
                'highlight': day !== null && isWorkingDay(day, currentMonth, currentYear) 
              }">
            {{ day }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Add the 'Today' button and Working Days Range label to the footer -->
  <footer class="bottom-bar">
    <div class="left-side ">
      <button class="button" (click)="goToToday()">Today</button>
    </div>
    <div class="center">
      <span *ngIf="myDays.length > 0">{{ workingDaysStart }} / {{ workingDaysEnd }}</span>
    </div>
    <div class="right-side " >
      <span class="time-display">{{durationOfStatus}}</span>
      <button *ngIf="isTodayWorkday()" [ngClass]="{'button': !MyStatus, 'takeBreak': MyStatus}" (click)="sendWorkStatus()">
        {{!MyStatus ? 'Start Now' : 'Take break'}}
      </button>
    </div>
  </footer>

<!-- Modal Overlay -->
<div *ngIf="showCaptcha" class="modal-overlay" (click)="closeCaptcha()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h3 class="modal-title">Please verify that you are human</h3>
    <div class="captcha-container">
      <re-captcha (resolved)="onCaptchaResolved($event)" [siteKey]="siteKey"></re-captcha>
    </div>
    <button type="button" class="modal-close" (click)="closeCaptcha()">Close</button>
  </div>
</div>


</div>
