<!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <nav
       id="sidebarMenu"
       class="collapse d-lg-block sidebar collapse bg-white"
       *ngIf="role!='collab'"
       >
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4" *ngFor="let link of Links">
        <a
        
           class="list-group-item list-group-item-action py-2 ripple"
           aria-current="true"
           [routerLink]="link.route"
           routerLinkActive="active"
           >
          <i [class]="link.icon + ' nav_icon'"></i>
          <span>{{ link.label }}</span>
        </a>
      </div>
    </div>
  </nav>
  
  <!-- Navbar -->
  <nav
       id="main-navbar"
       class="navbar navbar-expand-lg navbar-light bg-white fixed-top"
       >
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
              *ngIf="role!='collab'"
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#sidebarMenu"
              aria-controls="sidebarMenu"
              aria-expanded="false"
              aria-label="Toggle navigation"
              >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Brand -->
      <a class="navbar-brand" href="#">
        <img
             src="../../assets/Telework.png"
             height="25"
             alt=""
             loading="lazy"
             />
      </a>

      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <!-- Notification dropdown -->
        <li class="nav-item dropdown">
          <a
             class="nav-link me-3 me-lg-0 dropdown-toggle"
             href="#"
             id="navbarDropdownMenuLink"
             role="button"
             data-bs-toggle="dropdown" 
             aria-expanded="false"
             >
            
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Container wrapper -->
  </nav>
</header>

<!--Main layout-->
<main style="margin-top: 58px">
  <div class="container pt-4">
    <router-outlet></router-outlet>
  </div>
</main>
