<div class="modal-dialog modal-dialog-scrollable">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">{{ title }}</h5>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="closeModalFunc()"
      ></button>
    </div>

    <div class="modal-body">
      <form [formGroup]="userForm">
        <div class="form-outline" data-mdb-input-init *ngIf="!editMode">
          <input
            type="text"
            id="typeCin"
            class="form-control"
            formControlName="cin"
          />
          <label class="form-label" for="typeCin">CIN</label>
          <!-- Error messages -->
          <div
            *ngIf="userForm.get('cin')?.invalid && userForm.get('cin')?.touched"
            class="text-danger"
          >
            <!-- Required error -->
            <small *ngIf="userForm.get('cin')?.errors?.['required']"
              >CIN is required.</small
            >

            <!-- Pattern error (only numeric and exactly 8 characters) -->
            <small *ngIf="userForm.get('cin')?.errors?.['pattern']"
              >CIN must be 8 numeric characters.</small
            >
          </div>
        </div>

        <div class="form-outline" data-mdb-input-init>
          <input
            type="text"
            id="typeName"
            class="form-control"
            formControlName="name"
          />
          <label class="form-label" for="typeName" *ngIf="!editMode"
            >Name</label
          >
        </div>

        <div class="form-outline" data-mdb-input-init>
          <input
            type="text"
            id="typeLastName"
            class="form-control"
            formControlName="lastName"
          />
          <label class="form-label" for="typeLastName" *ngIf="!editMode"
            >Last Name</label
          >
        </div>

        <div class="form-outline" data-mdb-input-init *ngIf="!editMode">
          <input
            type="email"
            id="typeEmail"
            class="form-control"
            formControlName="email"
          />
          <label class="form-label" for="typeEmail">Email </label>
          <div
            *ngIf="
              userForm.get('email')?.invalid && userForm.get('email')?.touched
            "
            class="error-message"
          >
            <small *ngIf="userForm.get('email')?.errors?.['required']"
              >Email is required.</small
            >

            <small *ngIf="userForm.get('email')?.errors?.['pattern']"
              >Please enter a valid email.</small
            >
          </div>
        </div>

        <div class="form-outline" data-mdb-input-init>
          <input type="password" class="form-control" formControlName="pwd" />
          <label class="form-label" for="pwd">password </label>
          <div
            *ngIf="userForm.get('pwd')?.invalid && userForm.get('pwd')?.touched"
            class="error-message"
          >
            <small
              class="error-message"
              *ngIf="userForm.get('pwd')?.errors?.['required']"
              >Password is required.</small
            >

            <small
              class="error-message"
              *ngIf="userForm.get('pwd')?.errors?.['pattern']"
            >
              1 uppercase letter, 1 special character, and be at least 8
              characters long.
            </small>
          </div>
        </div>


        <div class="form-group mb-3"  >
          <label for="roleSelect">Select Role</label>
          <select formControlName="role" id="roleSelect" class="form-control">
         
            <option>collab</option>
            <option>leader</option>
            <option *ngIf="role == 'admin' && !editMode" value="respo">responsable</option>
          </select>
        </div>

        <div  class="form-group" *ngIf="userForm.get('role')?.value != 'respo' &&!editMode && role == 'admin'">
          <label for="teamSelect">Select responsible</label>
          <div class="d-flex align-items-center">
        

            <select
             
              formControlName="idresponsible"
              id="responsible"
              class="form-control"
              (change)="onRespoChange()"
            >
              <option *ngFor="let responsible of responsibles" [value]="responsible.id">
                {{ responsible.fullname }}
              </option>
            </select>

            

          
          </div>
        </div>

        <div class="form-group" *ngIf="userForm.get('role')?.value != 'respo' && !editMode">
          <label for="teamSelect">Select Team</label>
          <div class="d-flex align-items-center">
            <input
              type="text"
              *ngIf="showTeamField"
              class="form-control"
              placeholder="New Team"
              [(ngModel)]="newTeamName"
              [ngModelOptions]="{ standalone: true }"
            />

            <select
              *ngIf="!showTeamField"
              formControlName="idparentTeam"
              id="teamSelect"
              class="form-control"
              (change)="onTeamChange()"
            >
              <option *ngFor="let team of teams" [value]="team.id">
                {{ team.name }}
              </option>
            </select>

            <button
              *ngIf="!showTeamField"
              [disabled]="userForm.get('idresponsible')?.value == ''"
              type="button"
              class="btn btn-primary btn-sm ms-2"
              (click)="changeTeamMode()"
            >
              <i class="fas fa-plus"></i>
            </button>
            <button
              type="button"
              class="btn btn-primary btn-sm ms-2"
              (click)="addTeam(false)"
              *ngIf="showTeamField"
            >
              <i class="fas fa-check"></i>
            </button>

            <button
              *ngIf="!showTeamField"
              [disabled]="!selectedTeamId"
              type="button"
              class="btn btn-danger btn-sm ms-2"
              (click)="deleteTeam(false)"
            >
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>

        

        <div class="form-group" *ngIf="userForm.get('role')?.value != 'respo' && !editMode">
          <label for="subTeamSelect">Select Subteam</label>
          <div class="d-flex align-items-center">
            <input
              type="text"
              *ngIf="showSubTeamField"
              class="form-control"
              placeholder="New SubTeam"
              [(ngModel)]="newSubTeam"
              [ngModelOptions]="{ standalone: true }"
            />

            <select
              formControlName="idTeam"
              id="subTeamSelect"
              class="form-control"
              [disabled]="!selectedTeamId"
              *ngIf="!showSubTeamField"
              (change)="onSubTeamChange()"
            >
              <option *ngFor="let subTeam of subTeams" [value]="subTeam.id">
                {{ subTeam.name }}
              </option>
            </select>
            <button
              type="button"
              class="btn btn-primary btn-sm ms-2"
              (click)="addTeam(true)"
              *ngIf="showSubTeamField"
              [disabled]="!selectedTeamId"
            >
              <i class="fas fa-check"></i>
            </button>
            <button
              [disabled]="!selectedTeamId || showTeamField"
              *ngIf="!showSubTeamField"
              type="button"
              class="btn btn-primary btn-sm ms-2"
              (click)="changeSubTeamMode()"
            >
              <i class="fas fa-plus"></i>
            </button>
            <button
              [disabled]="!selectedSubTeamId || showTeamField"
              *ngIf="!showSubTeamField"
              type="button"
              class="btn btn-danger btn-sm ms-2"
              (click)="deleteTeam(true)"
            >
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>

        
        <small class="error-message"> {{ ErrorMsg }}</small>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="closeModalFunc()"
      >
        Close
      </button>
      <button
        type="button"
        class="btn btn-primary"
        [disabled]="
          editMode ? !userForm.dirty || !userForm.valid : !userForm.valid
        "
        (click)="saveUser()"
      >
        {{ editMode ? "Update" : "Create" }}
      </button>
     
    </div>
  </div>
</div>

