// modal.component.scss
.form-outline {
    margin-bottom: 1.9rem; // Adjust the value as needed
  }
  .error-message {
    color: #e53e3e;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    text-align: left;
  }
  